body{
  margin: 0;
}
*{
  box-sizing: border-box;
}
p,span{
  margin: 0;
}
strong{
  font-weight: 800;
}
img{
  max-width: 100%;
}


@font-face {
  font-family: 'Gotham Pro';
  src:
          url('../fonts/GothamPro-Medium.eot') format('embedded-opentype'),
          url('../fonts/GothamPro-Medium.woff') format('woff'),
          url('../fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src:
          url('../fonts/GothamPro-Black.eot') format('embedded-opentype'),
          url('../fonts/GothamPro-Black.woff') format('woff'),
          url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'Gotham Pro';
  src:
          url('../fonts/GothamPro-Bold.eot') format('embedded-opentype'),
          url('../fonts/GothamPro-Bold.woff') format('woff'),
          url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham Pro';
  src:
          url('../fonts/GothamPro-Light.eot') format('embedded-opentype'),
          url('../fonts/GothamPro-Light.woff') format('woff'),
          url('../fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src:
          url('../fonts/GothamPro.eot') format('embedded-opentype'),
          url('../fonts/GothamPro.woff') format('woff'),
          url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-size: 35px;
  line-height: 1.14;
  color: #ffffff;
  font-weight: 800;
  font-family: "Gotham Pro Black";
  margin: 0;
  margin-bottom: 5px;
  @media(max-width: 450px){
    font-size: 30px;
  }
  @media(max-width: 380px){
    font-size: 27px;
  }
  @media(max-width: 350px){
    font-size: 22px;
  }


  strong{
    display: inline-block;
    background-image: linear-gradient(89deg, #ffa800 0%, #ff771f 100%);
    border-radius: 10px;
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    @media(max-width: 450px){
      font-size: 16px;
      padding: 9px;
    }
    @media(max-width: 380px){
      font-size: 15px;
      padding: 7px;
    }
    @media(max-width: 350px){
      font-size: 12px;
    }


  }
}
.section {
  display: flex;
  justify-content: center;
  width: 100%;
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
box-shadow: 0 0 30px -6px rgb(0 0 0 / 15%);

  }
}
.arrow{
  width: 60%;
}
.intro{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media(max-width: 450px){
    padding: 0 15px;
  }
  &__text{
    font-family: 'Gotham Pro';
    color: #ffffff;
    font-size: 20px;
    line-height: 1.14;
    margin-bottom: 15px;
    margin-top: 40px;
    @media(max-width: 450px){
      font-size: 18px;
      margin-bottom: 13px;
      margin-top: 35px;
    }
    @media(max-width: 380px){
      font-size: 15px;
      margin-bottom: 10px;
      margin-top: 30px;
    }
    @media(max-width: 350px){
      font-size: 13px;
      margin-bottom: 8px;
      margin-top: 27px;
    }
  }
  &__background{
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 0;
    @media(max-width: 450px){
      width: 55%;
    }
    @media(max-width: 380px){
      width: 53%;
    }

  }
  &__content{
    padding: 100px 0 60px 0;
    width: 55%;
    z-index: 50;
    @media(max-width: 380px){
      padding: 90px 0 45px 0;
    }
  }
}
.header{
  position: absolute;
  top: 0;
  left: 45%;
  width: 25%;
}
.quad{
  background-image: linear-gradient(89deg, #ffa800 0%, #ff771f 100%);
  border-radius: 10px;
  &_big{
    position: absolute;
    bottom: 70px;
    left: 40px;
    width: 85px;
    height: 85px;
    @media(max-width: 450px){
      left: 30px;
    }
    @media(max-width: 380px){
      bottom: 50px;
      left: 20px;
      width: 70px;
      height: 70px;
    }
    @media(max-width: 350px){
      width: 60px;
      height: 60px;
    }


  }
  &_small{
    width: 50px;
    height: 50px;
    padding: 2px;
    margin-bottom: 15px;
    @media(max-width: 380px){
      width: 40px;
      height: 40px;
      padding: 1.5px;
      margin-bottom: 15px;
    }
    @media(max-width: 350px){
      width: 35px;
      height: 35px;
      padding: 1px;
      margin-bottom: 12px;
    }

  }
}
.cases{
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  @media(max-width: 380px){
    padding: 50px 20px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @media(max-width: 450px){
      margin-bottom: 21px;
    }
    @media(max-width: 350px){
      margin-bottom: 17px;
    }

    &:last-of-type{
      margin-bottom: 0;
    }
    p{
      font-size: 20px;
      color: #acb4b8;
      font-family: "Gotham Pro";
      margin-left: 50px;
      @media(max-width: 450px){
        font-size: 17px;
        margin-left: 42px;
      }
      @media(max-width: 350px){
        font-size: 15px;
        margin-left: 35px;
      }

      strong{
        font-family: 'Gotham Pro Black';
        color: #006bae;
      }
    }
  }
}
.bounce{
  width: 100px;
  height: 100px;
  padding: 10px;
  background-image: linear-gradient(89deg, #ffa800 0%, #ff771f 100%);
  border-radius: 50px;
  @media(max-width: 450px){
    width: 83px;
    height: 83px;
    padding: 8px;
  }
  @media(max-width: 350px){
    width: 70px;
    height: 70px;
    padding: 7px;
  }

}
.download{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text{
    font-size: 15px;
line-height: 20px;
color: #acb4b8;
font-family: "Gotham Pro";
text-align: center;
margin: 40px 0 90px 0;
padding: 0 20px;
@media(max-width: 350px){
  font-size: 13.5px;
  line-height: 1.14;
  margin: 30px 0 75px 0;
}
@media(max-width: 350px){
  font-size: 12px;
  line-height: 1.14;
  margin: 25px 0 65px 0;
}

  }
  &__arrow{
    position: absolute;
    transform: rotate(120deg);
    width: 66px;
    top: 25%;
    left: 15%;
    @media(max-width: 450px){
      width: 58px;
    }
    @media(max-width: 380px){
      width: 51px;
    }
    @media(max-width: 350px){
      width: 42px;
    }


  }
}
.bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #278BC6;
}
.button{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px 22px;
  width: 227px;
height: 52px;
border-radius: 26px;
background-image: linear-gradient(-7deg, #0f8dcc 0%, #1faff3 100%);
text-decoration: none;
transition: .3s;
&_anim{
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}
  &:after {
    opacity: .4;
    content: "";
    display: block;
    width: 20px;
    height: 300px;
    margin-right: 60px;
    background: #fff;
    position: absolute;
    right: -40px;
    top: -150px;
    z-index: 1;
    transform: rotate(45deg);
    animation-name: slideme;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


}
@media(max-width: 450px){
    width: 180px;
    height: 45px;
}
@media(max-width: 380px){
    width: 150px;
    height: 35px;
}
@media(max-width: 350px){
    width: 140px;
    height: 30px;
}


&:hover{
  transform: scale(1.05);
}
img{
  width: 36px;
  height: 32px;
  @media(max-width: 450px){
      width: 32px;
  }
  @media(max-width: 380px){
    width: 27px;
    height: 21px;
  }
  @media(max-width: 350px){
    width: 23px;
    height: 18px;
  }


}
p{
  font-size: 20px;
color: #ffffff;
font-family: "Gotham Pro";
margin-left: 20px;
@media(max-width: 380px){
  font-size: 15px;
  margin-left: 15px;

}
@media(max-width: 350px){
  font-size: 13px;

}

}
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 265px;
    height: 85px;
    border-radius: 43px;
    background-color: rgba(255,152,0,0);
    border: 1px solid #67afdc;
    @media(max-width: 450px){
        width: 210px;
        height: 70px;
    }
    @media(max-width: 380px){
        width: 180px;
        height: 55px;
    }
    @media(max-width: 350px){
        width: 160px;
        height: 45px;
    }


  }
}
@keyframes slideme { 0% { right: -30px; margin-right: 0px; }
  30% { right: 100%; margin-right: 80px; }
  100% { right: 100%; margin-right: 80px; } }
.next-button{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fca328;
  border-radius: 100%;
  transition: all .5s ease;
  cursor: pointer;
  &:after{
    content: '';
    position: absolute;
    top: 17px;
    left: 19px;
    z-index: 1;
    display: inline-block;
    padding: 5px;
    border: solid #ff9800;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    border-color: #fff;
  }
  &:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background-color: #ff9605;
    border: 1px solid #fff;
    border-radius: 100%;
    opacity: .2;
    transform: translate(-50%,-50%);
  }
  &__wrapper{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: all .5s ease;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 5;
    &_certificate{
      bottom: 15px;
      a{
        background-color: inherit;
        &:before{
          background-color: inherit;
          border: 0;
        }
      }
    }
  }
}
.section-header{
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;
  &__inner{
    position: relative;
    text-align: center;
  }
  &__background{
    position: absolute;
    top: -30px;
    bottom: 0;
    z-index: -1;
    width: 100%;
    font-size: 90px;
    letter-spacing: 2px;
    color: #f2f3f7;
    font-weight: bold;
    font-family: "Gotham Pro";
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    @media(max-width: 450px){
      font-size: 82px;
    }
    @media(max-width: 380px){
      font-size: 73px;
    }
    @media(max-width: 350px){
      font-size: 60px;
    }


  }
  &__title{
    position: relative;
    padding-bottom: 25px;
    font-size: 42px;
    line-height: 46px;
    color: #0c7cbf;
    font-weight: 800;
    font-family: "Gotham Pro";
    text-align: center;
    margin: 0;
    @media(max-width: 450px){
      font-size: 36px;
      line-height: 40px;
    }
    @media(max-width: 380px){
      font-size: 34px;
      line-height: 37px;
    }
    @media(max-width: 350px){
        font-size: 28px;
        line-height: 31px;
    }


    &-line{
      &:before{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 40px;
        height: 2px;
        content: '';
        background-color: #ff9800;
        transform: translateX(-50%);
      }
    }
  }
}
